<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.js"></script>
    <div id="app">
        <div class="search-wrapper">
            <input type="text" v-model="search" placeholder="Ketikkan kata kunci" />
        </div>
        <ul>
            <li v-for="book in saringData">{{book.judul}}</li>
        </ul>
    </div>





    <script>
        const app = new Vue({
            el: '#app',
            data: {
                search: '',
                books: [{
                    judul: "Kalkulus Dasar"
                }, {
                    judul: "Fisika Dasar"
                }, {
                    judul: "Aljabar Linear Elementer"
                }, {
                    judul: "Aljabar Abstrak"
                }, {
                    judul: "Algoritma Pemrograman"
                }]
            },
            computed: {
                saringData() {

                    function compare(a, b) {
                        if (a.judul < b.judul) return -1;
                        if (a.judul > b.judul) return 1;
                        return 0;
                    }


                    return this.books.filter(book => {
                        return book.judul.toLowerCase().includes(this.search.toLowerCase())
                    }).sort(compare)
                }
            }
        })
    </script>
</body>

</html>